.code-block-wrapper {
  margin: 1em 0;
}

.code-filename {
  background-color: #1a202c;
  color: #afbac4;
  padding: 0.5rem 1rem;
  border-top-left-radius: 0.375rem;
  border-top-right-radius: 0.375rem;
  border-bottom: 1px solid #2d3748;
  font-family: 'SF Mono', 'Monaco', 'Inconsolata', 'Roboto Mono', 'Source Code Pro', monospace;
  font-size: 0.875rem;
  font-weight: 500;
  position: relative;
}

.filename-text::before {
  content: "📄 ";
  margin-right: 0.25rem;
}

.code-filename-terraform .filename-text::before {
  content: url("https://cdn.jsdelivr.net/gh/homarr-labs/dashboard-icons/svg/opentofu.svg");
  margin-right: 0.25rem;
  height: 15px;
  width: 15px;
  display: inline-block;
}

.code-block-wrapper .highlight,
.code-block-wrapper pre {
  margin-top: 0 !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
